.img-hide
{
    position:relative;
    top:100px;    
    border: 5px solid green;
    padding: 5px;
    margin: 5px;
    text-align:center;
    visibility:hidden;
}
.img-background
{
    position:relative;
    top:100px;    
    border: 5px solid green;
    padding: 5px;
    margin: 5px;
    text-align:center;
}
.column
{
    float:left;
    width: 33.33%;
    text-align:center;
}
.div-master
{
    height:auto;
}
.div-branch
{
    height:50px;
}
